# setup environment
dist: focal
language: go

branches:
  only:
  - master

notifications:
  email: false

git:
  depth: 5

# setup tests
env:
  global:
  - APM_TEST_PACKAGES='language-terraform'
  - ATOM_LINT_WITH_BUNDLED_NODE='true'

os: linux

matrix:
  include:
  - env: VERSION='0.15.5'
  - env: VERSION='1.0.11'
  - env: VERSION='1.1.9'
  - env: VERSION='1.2.9'
  - env: VERSION='1.3.0'

# execute tests
install:
- sudo wget "https://releases.hashicorp.com/terraform/${VERSION}/terraform_${VERSION}_linux_amd64.zip"
- sudo unzip "terraform_${VERSION}_linux_amd64.zip" -d /usr/bin/
before_script: terraform version
script: 'curl -s https://raw.githubusercontent.com/mschuchard/vagrant-boxes-docker-images/master/atom-build-package.sh | sh'
